<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
        integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q=="
        crossorigin="anonymous" <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/home/nartikn/Uni/TECprojects/public/tailwind.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Component Start -->
    <div
        class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
        <div style="display: grid; justify-content: center">
            <header class="site__header">
                <h1 class="brand">Tec<span class="brand--point">Vallarta</span></h1>
                <nav>
                    <ul class="menu">
                        <li><a href="https://jclizarraga.com/login">INICIO</a></li>
                        <li><a href="https://jclizarraga.com/explorar">EXPLORAR</a></li>
    
                        <li><a class="active" href="#">AJUSTES</a></li>
                        <li><a href="https://jclizarraga.com/login">SALIR</a></li>
                    </ul>
                </nav>
                <div class="toggle">
                    <span class="toggle--switch"></span>
                </div>
            </header>
        </div>
        <style>
            @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
    
            * {
                margin: 0;
                padding: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
    
            .site__header {
                background-color: white;
                padding: 0 2rem;
                width: 768px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 0.5rem;
                -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
                transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
                -webkit-box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
                box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
            }
    
            .site__header.darkmode {
                background-color: #1f2937;
                color: white;
            }
    
            .site__header.darkmode .menu li a {
                color: white;
            }
    
            .site__header.darkmode .menu li a:hover {
                color: #3b82f6;
            }
    
            .site__header.darkmode .menu li a.active:hover {
                color: white;
            }
    
            .brand {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 900;
            }
    
            .brand--point {
                color: #fc5757;
            }
    
            .menu {
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 64px;
            }
    
            .menu li {
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                overflow: hidden;
            }
    
            .menu li a {
                text-decoration: none;
                color: black;
                cursor: pointer;
                position: relative;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                font-weight: 600;
                font-size: 0.875rem;
                -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
                transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
                padding: 0 1rem;
                z-index: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
    
            .menu li a.active {
                color: white;
            }
    
            .menu li a.active:hover {
                color: white;
            }
    
            .menu li a.active:before {
                background-color: #a50000;
                z-index: -1;
                -webkit-transform: translateY(0%);
                transform: translateY(0%);
            }
    
            .menu li a:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: transparent;
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
                transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
            }
    
            .menu li a:after {
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 0px;
                background-color: #ff3434;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
    
            .menu li a:hover {
                color: #3b82f6;
            }
    
            .menu li a:hover:after {
                width: 100%;
                height: 4px;
            }
    
            .toggle {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-color: #e5e5e5;
                width: 38px;
                height: 22px;
                border-radius: 22px;
                cursor: pointer;
            }
    
            .toggle--switch {
                position: absolute;
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 18px;
                top: 2px;
                left: 2px;
                -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0, 1);
                transition: all 0.3s cubic-bezier(0.42, 0, 0, 1);
            }
    
            .toggle.active {
                background-color: #3b82f6;
            }
    
            .toggle.active .toggle--switch {
                left: calc(100% - 20px);
            }
    
            /*# sourceMappingURL=style.css.map */
        </style>
        <div class="px-10 mt-6">
            <h1 class="text-2xl font-bold">Mi espacio de Admin</h1>
        </div>
        <div class="flex flex-grow px-10 mt-4 space-x-6 overflow-auto">
            <div class="flex flex-col flex-shrink-0 w-72">
                <div class="flex items-center flex-shrink-0 h-10 px-2">
                    <span class="block text-sm font-semibold">Usuarios</span>
                    <span
                        class="flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-indigo-500 bg-white rounded bg-opacity-30"><%= cuentaUsers %></span>
                    <button
                        class="flex items-center justify-center w-6 h-6 ml-auto text-indigo-500 rounded hover:bg-indigo-500 hover:text-indigo-100">
                        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col pb-2 overflow-auto">
                    <!-- empiza la primera carta -->
                    <% idPhoto.forEach((imagenes) =>{ %>
                    <div class="relative flex flex-col items-start p-4 mt-3 bg-white rounded-lg cursor-pointer bg-opacity-90 group hover:bg-opacity-100"
                        draggable="true">
                        <button
                            class="absolute top-0 right-0 flex items-center justify-center hidden w-5 h-5 mt-3 mr-2 text-gray-500 rounded hover:bg-gray-200 hover:text-gray-700 group-hover:flex">
                            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                            </svg>
                        </button>
                        <span
                            class="flex items-center h-6 px-3 text-xs font-semibold text-green-500 bg-green-100 rounded-full">Usuarios</span>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;" >Usuario: <%= imagenes.user %></h4>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;" >Contraseña: <%= imagenes.password %></h4>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;" >Universidad: <%= imagenes.tecUni %></h4>
                        <br>
                        <div  >
                            <img class="rounded-full" style="border-radius: 50px; width: 40%;" src="https://jclizarraga.com/profilePic/<%= imagenes.imagen %>" alt="">
                        </div>
                        
                    </div>
                    <% }) %>
                    <!-- AQUI -->
                   
                </div>
            </div>
            <div class="flex flex-col flex-shrink-0 w-72">
                <div class="flex items-center flex-shrink-0 h-10 px-2">
                    <span class="block text-sm font-semibold">IP'S</span>
                    <span
                        class="flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-indigo-500 bg-white rounded bg-opacity-30"><%= cuentaIP %></span>
                    <button
                        class="flex items-center justify-center w-6 h-6 ml-auto text-indigo-500 rounded hover:bg-indigo-500 hover:text-indigo-100">
                        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col pb-2 overflow-auto">
                <!-- aqui -->
                <% ips.forEach((imagenes) =>{ %>
                    <div class="relative flex flex-col items-start p-4 mt-3 bg-white rounded-lg cursor-pointer bg-opacity-90 group hover:bg-opacity-100"
                        draggable="true">
                        <button
                            class="absolute top-0 right-0 flex items-center justify-center hidden w-5 h-5 mt-3 mr-2 text-gray-500 rounded hover:bg-gray-200 hover:text-gray-700 group-hover:flex">
                            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                            </svg>
                        </button>
                        <span
                            class="flex items-center h-6 px-3 text-xs font-semibold text-green-500 bg-green-100 rounded-full">Dev</span>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;">ip: <%= imagenes.ip %></h4>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;">Continente: <%= imagenes.continente %></h4>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;">Pais: <%= imagenes.pais %></h4>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;">Region: <%= imagenes.region %></h4>
                        <h4 class="mt-3 text-sm font-medium" style="margin-bottom: -10px;">ISP: <%= imagenes.isp %></h4>
                    </div>
                    <% }) %>
                    
                    
            </div>
            </div>
            
            <!-- AQUI EMPIEZA PARA EDITAR -->
            
            <form action="/adminPost" method="post">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        
                        <select name="select" id="users-select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <% for(var i=0; i < users.length; i++) { %>
                                <option>
                                    <%= users[i].user %>
                                </option>
                                
                            <% } %>
                          </select>
                         
                        
                          <script>
                            // Capturando el elemento select por su ID
                            var selectElement = document.getElementById('users-select');
                          
                            // Agregando un listener para el evento 'change'
                            selectElement.addEventListener('change', function() {
                              // Obtener el valor seleccionado
                              var selectedOption = selectElement.value;
                          
                              // Hacer algo con el valor seleccionado
                              // Por ejemplo, mostrar los datos relacionados con la opción seleccionada
                              console.log("Opción seleccionada:", selectedOption);
                              // Realiza aquí las acciones que desees con el valor seleccionado
                              
                            });
                          </script>
                          
                        <br>
                        <div id="pfpDiv" style="border-radius: 30px; padding: 20px;" class="card mb-4 mb-xl-0 ">
                            <div>
                                <h4 style="text-align: center;">Foto de perfil</h4>
    
                            </div>
                           
                            </h8>
                            <input name="idUser" type="hidden">
                            <div id="displayImage" class="card-body text-center">
                                <!-- Profile picture image-->
                                <img style="width: 45%;" id="profilePicture" class="img-account-profile rounded-circle mb-2"
                                    src="" alt="">
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG o PNG no más grandes de 5 MB</div>
                                <!-- Profile picture upload button-->
                                <input required type="file" id="formFileLg"
                                    class="custom-file-input form-control form-control-lg" name="pfp">
                            </div>
                        </div>
                        <br>
                        <!-- form para subir proyectos -->
                        <div id="pfpDiv" style="border-radius: 30px; padding: 20px;" class="card mb-4 mb-xl-0">
                            <div>
                                <h4 style="text-align: center;">Sube tu proyecto</h4>
                                <p style="text-align: center; color: gray;">(en rar)</p>
                            </div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img style="width: 45%;" id="profilePicture" class="img-account-profile rounded-circle mb-2"
                                    src="https://repository-images.githubusercontent.com/605295693/57e38a9d-d8f6-4596-a8c8-e4bff6ada7d7"
                                    alt="">
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG o PNG no más grandes de 5 MB</div>
                                <!-- Profile picture upload button-->
                                <input type="file" id="formFileLg" class="custom-file-input form-control form-control-lg"
                                    name="pfp">
                            </div>
                        </div>
    
                        <script>
                            // Obtener referencia al input de archivo
                            const fileInput = document.getElementById('formFileLg');
    
                            // Agregar un evento de cambio al input de archivo
                            fileInput.addEventListener('change', function (event) {
                                const file = event.target.files[0]; // Obtener el archivo seleccionado
    
                                if (file) {
                                    const reader = new FileReader();
    
                                    // Definir la función a ejecutar cuando se haya leído el archivo
                                    reader.onload = function (e) {
                                        const profilePicture = document.getElementById('profilePicture');
                                        profilePicture.src = e.target.result; // Actualizar la imagen con el contenido del archivo
                                    };
    
                                    reader.readAsDataURL(file); // Leer el archivo como URL de datos
                                }
                            });
                        </script>
    
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div id="infoDiv" style="border-radius: 30px; padding: 50px;" class="card mb-4 ">
                            <div>
                                <h4 style="text-align: center;">Cuentanos un poco de ti</h4>
                            </div>
                            <div class="card-body">
    
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">¿Cuál es tu semestre?</label>
                                    <input required class="form-control" name="semestre" id="inputUsername" type="number"
                                        value="">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">Materias favorita</label><br>
                                        <select required name="mateFav" class="selectpicker" multiple data-live-search="true">
                                            <option value="Taller de sistemas operativos">Taller de sistemas operativos</option>
                                            <option value="Redes">Redes</option>
                                            <option value="Programacion Web">Programacion Web</option>
                                            <option value="Aplicaciones moviles">Aplicaciones moviles</option>
                                            <option value="Programacion logica y funcional">Programacion logica y funcional</option>
                                            <option value="Taller de investigacion">Taller de investigacion</option>
                                            <option value="Algebra">Algebra</option>
                                            <option value="Estructura de datos">Estructura de datos</option>
                                            <option value="Fisica">Fisica</option>
                                        </select>
                                        
                                        
                                        
    
    
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                                            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                                            crossorigin="anonymous"></script>
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                                            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                                            crossorigin="anonymous"></script>
                                        <script
                                            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"
                                            integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw=="
                                            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                                        <!-- <input name="mateFav" class="form-control" id="inputFirstName" type="text"
                                            placeholder="Enter your first name" value="Taller de sistemas operativos"> -->
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">Maestros favoritos</label> <br>
                                        <select required name="maestroFav" class="selectpicker" multiple data-live-search="true" aria-label="Default select example">
                                           
                                                <option>
                                                    <% for(var i=0; i < resultado.length; i++) { %>
                                                        <option>
                                                           
                                                            <%= resultado[i].nombre %>
                                                        </option>
                                                    <% } %>
                                                </option>
                                            
                                        </select>
                                        
                                        
                                        
                                        <!-- <label class="small mb-1" for="inputLastName">Maestros favoritos</label>
                                        <input class="form-control" id="inputLastName" type="text"
                                            placeholder="Enter your last name" value="Luna"> -->
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputOrgName">Tecnologico en el que estudias</label>
                                        <input required name="tecUni" class="form-control" id="inputOrgName" type="text"
                                            placeholder="Tecnologico en el que estudias" value="">
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLocation">Ciudad</label>
                                        <input required name="ciudad" class="form-control" id="inputLocation" type="text"
                                            placeholder="¿En que ciudad vives?" value="">
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Correo electronico</label>
                                    <input required class="form-control" id="inputEmailAddress" type="email"
                                        placeholder="Escribe tu email" name="email" value="">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Numero de telefono</label>
                                        <input required name="numTel" class="form-control" id="inputPhone" type="number"
                                            placeholder="Escribe tu numero de telefono" value="">
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Fecha de cumpleaños</label>
                                        <input class="form-control" id="inputBirthday" type="date" name="birthday"
                                            placeholder="Escribe tu cumpleaños" value="">
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <div id="successAlert" class="alert alert-success" style="display: none;">
                                    Guardado con éxito
                                </div>
                                <button style="border-radius: 20px; scale: 1.2; " class="btn btn-danger" type="submit"
                                    onclick="guardar()">Guardar</button>
                                <script>
                                    function guardar() {
                                        // Código para realizar la operación de guardado, como enviar una solicitud al servidor
    
                                        // Mostrar la alerta de éxito
                                        const successAlert = document.getElementById('successAlert');
                                        successAlert.style.display = 'block';
                                    }
    
                                </script>
            </form>
            <div class="flex flex-col flex-shrink-0 w-72">
                
                <div class="flex flex-col pb-2 overflow-auto">
                    <!-- aqui -->
                    
           
                   
    <!-- Component End -->

</body>
<style>
    .group:hover .group-hover\:flex {
	display: flex !important;
}
</style>
</html>