<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>

    <html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Section</title>

        <!--Custom CSS-->
        <link rel="stylesheet" href="/home/nartikn/Uni/TECprojects/public/tailwind.css">

        <!--Tailwind CSS-->
        <script src="https://cdn.tailwindcss.com"></script>

        <style type="text/tailwindcss">
            @layer components {

          .card {
            @apply flex items-center justify-center flex-col gap-2 p-5 w-full sm:w-72 h-full bg-gray-100 border rounded-2xl
          }

        }
    </style>
        <!--Tailwind CSS-->

        <!--Font-Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>

        <div class="container mx-auto py-8">

            <div class="flex flex-col text-center gap-4 mb-8 p-4">

                <div class="text-purple-600 text-sm font-bold">Our team</div>

                <div class="text-gray-900 text-3xl md:text-4xl font-bold">Some of the people you'll be working with
                </div>

                <div class="text-gray-600 md:text-lg">We're a 100% remote team spread all across the world. Join us!
                </div>

            </div>

            <div class="flex items-center justify-center flex-wrap gap-4 p-4">
                <% user.forEach((info)=>{ %>
                    <div style="height: 30em;" class="card">
                        <div style="width: 40%;">
                            <img style="border-radius: 40px; height: 100px; width: 100px " src="https://jclizarraga.com/profilePic/<%= info.imagen %>">
                        </div>
                        <div class="text-gray-900 text-lg font-bold">
                            <%= info.user %>
                        </div>

                        <div class="text-purple-600 text-xs text-center">
                            <%= info.materiasFav %>
                        </div>
                        <div class="text-gray-600 text-xs">Semestre: <%= info.semestre %>
                        </div>
                        <div class="text-gray-600 text-xs text-center">Maestros favs:\n <%= info.maestrosFav %>
                        </div>

                        <div class="text-gray-600">
                            <%= info.ciudad %>
                        </div>
                        <div class="text-gray-600 text-xs">Contactame en: </div>
                        <div class="text-gray-600 text-xs">
                            <%= info.numTel %>
                        </div>
                        <div class="text-gray-600 text-xs">รณ</div>
                        <div class="text-gray-600 text-xs">
                            <%= info.cumple %>
                        </div>

                        

                    </div>
                    <% }) %>



            </div>

        </div>

    </body>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;

            box-sizing: border-box;
        }

        body {
            background-color: #ffffff;
            font-family: 'Poppins', sans-serif;
        }
    </style>

    </html>
</body>

</html>