<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>

    <html lang="en">

    <head>
        <div style="display: grid; justify-content: center">
            <header  class="site__header">
                <h1 class="brand">Tec<span class="brand--point">Vallarta</span></h1>
                <nav>
                  <ul class="menu">
                    <li><a  href="#">INICIO</a></li>
                    <li><a href="https://jclizarraga.com/explorar">EXPLORAR</a></li>
                    <li><a class="active" href="#">MI PERFIL</a></li>
                    <li><a href="https://jclizarraga.com/registerDatos">AJUSTES</a></li>
                    <li><a href="#">SALIR</a></li>
                  </ul>
                </nav>
                <div class="toggle">
                  <span class="toggle--switch"></span>
                </div>
              </header>
          </div>
          <title>Document</title>
	
	<br>
	<style>
	  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.site__header {
background-color: white;
padding: 0 2rem;
width: 768px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
border-radius: 0.5rem;
-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
-webkit-box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
}

.site__header.darkmode {
background-color: #1f2937;
color: white;
}

.site__header.darkmode .menu li a {
color: white;
}

.site__header.darkmode .menu li a:hover {
color: #3b82f6;
}

.site__header.darkmode .menu li a.active:hover {
color: white;
}

.brand {
text-transform: uppercase;
font-size: 24px;
font-weight: 900;
}

.brand--point {
color: #fc5757;
}

.menu {
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 64px;
}

.menu li {
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
overflow: hidden;
}

.menu li a {
text-decoration: none;
color: black;
cursor: pointer;
position: relative;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
font-weight: 600;
font-size: 0.875rem;
-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
padding: 0 1rem;
z-index: 1;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.menu li a.active {
color: white;
}

.menu li a.active:hover {
color: white;
}

.menu li a.active:before {
background-color: #a50000;
z-index: -1;
-webkit-transform: translateY(0%);
transform: translateY(0%);
}

.menu li a:before {
position: absolute;
top: 0;
left: 0;
content: "";
width: 100%;
height: 100%;
background-color: transparent;
-webkit-transform: translateY(100%);
transform: translateY(100%);
-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
}

.menu li a:after {
position: absolute;
left: 0;
bottom: 0;
content: "";
width: 100%;
height: 0px;
background-color: #ff3434;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}

.menu li a:hover {
color: #3b82f6;
}

.menu li a:hover:after {
width: 100%;
height: 4px;
}

.toggle {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
background-color: #e5e5e5;
width: 38px;
height: 22px;
border-radius: 22px;
cursor: pointer;
}

.toggle--switch {
position: absolute;
width: 18px;
height: 18px;
background-color: white;
border-radius: 18px;
top: 2px;
left: 2px;
-webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.3s cubic-bezier(0.42, 0, 0, 1);
}

.toggle.active {
background-color: #3b82f6;
}

.toggle.active .toggle--switch {
left: calc(100% - 20px);
}

/*# sourceMappingURL=style.css.map */

	</style>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Section</title>

        <!--Custom CSS-->
        <link rel="stylesheet" href="/home/nartikn/Uni/TECprojects/public/tailwind.css">

        <!--Tailwind CSS-->
        <script src="https://cdn.tailwindcss.com"></script>

        <style type="text/tailwindcss">
            @layer components {

          .card {
            @apply flex items-center justify-center flex-col gap-2 p-5 w-full sm:w-72 h-full bg-gray-100 border rounded-2xl
          }

        }
    </style>
        <!--Tailwind CSS-->

        <!--Font-Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>

        <div class="container mx-auto py-8">

            <div class="flex flex-col text-center gap-4 mb-8 p-4">

                <div class="text-purple-600 text-sm font-bold">Nuestros alumnos</div>

                <div class="text-gray-900 text-3xl md:text-4xl font-bold">Algunos de los estudiantes con los que cuenta TEC JALISCO!
                </div>

                <div class="text-gray-600 md:text-lg">Repartidos por todas las áres de Jalisco
                </div>

            </div>

            <div class="flex items-center justify-center flex-wrap gap-4 p-4">
                <% user.forEach((info)=>{ %>
                    <div style="height: 30em;" class="card">
                        <div style="width: 40%;">
                            <img style="border-radius: 40px; height: 100px; width: 100px " src="https://jclizarraga.com/profilePic/<%= info.imagen %>">
                        </div>
                        <div class="text-gray-900 text-lg font-bold">
                            <%= info.user %>
                        </div>

                        <div class="text-purple-600 text-xs text-center">
                            <%= info.materiasFav %>
                        </div>
                        <div class="text-gray-600 text-xs">Semestre: <%= info.semestre %>
                        </div>
                        <div class="text-gray-600 text-xs text-center">Maestros favs: <br> <%= info.maestrosFav %>
                        </div>

                        <div class="text-gray-600">
                            <%= info.ciudad %>
                        </div>
                        <div class="text-gray-600 text-xs">Contactame en: </div>
                        <div class="text-gray-600 text-xs">
                            <%= info.numTel %>
                        </div>
                        <div class="text-gray-600 text-xs">ó</div>
                        <div class="text-gray-600 text-xs">
                            <%= info.cumple %>
                        </div>

                        

                    </div>
                    <% }) %>



            </div>

        </div>

    </body>

    <style>
        .card{
            transition: transform 0.5s;
        }
        .card:hover{
            transform: translateY(-20px)
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;

            box-sizing: border-box;
        }

        body {
            background-color: #ffffff;
            font-family: 'Poppins', sans-serif;
        }
    </style>

    </html>
</body>

</html>