<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://jclizarraga.com/estilosHubAlumnos.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<div style="display: grid; justify-content: center">
	<header  class="site__header">
		<h1 class="brand">Tec<span class="brand--point">Vallarta</span></h1>
		<nav>
		  <ul class="menu">
			<li><a  href="#">INICIO</a></li>
			<li><a href="https://jclizarraga.com/explorar">EXPLORAR</a></li>
			<li><a class="active" href="#">MI PERFIL</a></li>
			<li><a href="https://jclizarraga.com/registerDatos">AJUSTES</a></li>
			<li><a href="#">SALIR</a></li>
		  </ul>
		</nav>
		<div class="toggle">
		  <span class="toggle--switch"></span>
		</div>
	  </header>
  </div>
	<br>
	<style>
	  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.site__header {
background-color: white;
padding: 0 2rem;
width: 768px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
border-radius: 0.5rem;
-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
-webkit-box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
}

.site__header.darkmode {
background-color: #1f2937;
color: white;
}

.site__header.darkmode .menu li a {
color: white;
}

.site__header.darkmode .menu li a:hover {
color: #3b82f6;
}

.site__header.darkmode .menu li a.active:hover {
color: white;
}

.brand {
text-transform: uppercase;
font-size: 24px;
font-weight: 900;
}

.brand--point {
color: #fc5757;
}

.menu {
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 64px;
}

.menu li {
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
overflow: hidden;
}

.menu li a {
text-decoration: none;
color: black;
cursor: pointer;
position: relative;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
font-weight: 600;
font-size: 0.875rem;
-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
padding: 0 1rem;
z-index: 1;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.menu li a.active {
color: white;
}

.menu li a.active:hover {
color: white;
}

.menu li a.active:before {
background-color: #a50000;
z-index: -1;
-webkit-transform: translateY(0%);
transform: translateY(0%);
}

.menu li a:before {
position: absolute;
top: 0;
left: 0;
content: "";
width: 100%;
height: 100%;
background-color: transparent;
-webkit-transform: translateY(100%);
transform: translateY(100%);
-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.25s cubic-bezier(0.42, 0, 0, 1);
}

.menu li a:after {
position: absolute;
left: 0;
bottom: 0;
content: "";
width: 100%;
height: 0px;
background-color: #ff3434;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}

.menu li a:hover {
color: #3b82f6;
}

.menu li a:hover:after {
width: 100%;
height: 4px;
}

.toggle {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
background-color: #e5e5e5;
width: 38px;
height: 22px;
border-radius: 22px;
cursor: pointer;
}

.toggle--switch {
position: absolute;
width: 18px;
height: 18px;
background-color: white;
border-radius: 18px;
top: 2px;
left: 2px;
-webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0, 1);
transition: all 0.3s cubic-bezier(0.42, 0, 0, 1);
}

.toggle.active {
background-color: #3b82f6;
}

.toggle.active .toggle--switch {
left: calc(100% - 20px);
}

/*# sourceMappingURL=style.css.map */

	</style>
</head>

<body>
	<div class="ag-format-container">
		<div style="align-items: center;" class="ag-courses_box">
			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div class="ag-courses-item_title">
						Soy parte de... <br> <br>
						<div class="ag-courses-item_date-box">
							<b>Universidad:</b><%= tecUni %> <br>
							<b>Ciudad:</b>  <%= ciudad %> <br>
							<b>Email:</b> <%= email %> <br>
							<b>Tel:</b> <%= numTel %> <br>
										<span class="ag-courses-item_date">
											04.11.2022
										</span>
									</div>
					</div>

				
				</a>
			</div>

			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div class="ag-courses-item_title" style="padding: 0; margin: 0;">
						Hey, Hola!
            <div>
				<br>
              <img style="width: 30%; border-radius: 50px;" src="https://jclizarraga.com/profilePic/<%= imagen %>" alt="">
              <p style="margin: 0; padding: 0;">Soy Juan </p>
            </div>
  
					</div>
         

					<div class="ag-courses-item_date-box">
						Curso por <%= semestre %> semestre
            <br>
            <br>
						<span class="ag-courses-item_date">
							04.11.2022
						</span>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div class="ag-courses-item_title">
            Mis maestros favoritos son:
					</div>

					<div class="ag-courses-item_date-box">
						<% maestrosFav.split(',').forEach(nombre => { %>
							<p><%= nombre %></p>
						  <% }); %>
						  
							<img style="border-radius: 60px; width: 15%; display: grid; justify-content: right;" src="https://scontent.ftpq3-1.fna.fbcdn.net/v/t39.30808-6/324893328_508593011361539_7359594274962450653_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHoqe1FkxSChVp5R1LoZUhNN2c528GhC6U3ZznbwaELpX93ILRMkURkcMhD2dhy3h-wNsG37N3xjuFXOISl04Sr&_nc_ohc=TWDxzFB6UvYAX9w3IPT&_nc_ht=scontent.ftpq3-1.fna&oh=00_AfBzZlzmqSO3RMz5Fg6-yLEwG168I3OReYzP6mW-WCVLbw&oe=646F22F2" alt="">
						  
							
<br>
						<span class="ag-courses-item_date">
							04.11.2022
						</span>
					</div>
				</a>
			</div>
      
			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div style="padding: 0;margin: 0;" class="ag-courses-item_title">
						Diseño gráfico
					</div>

					<div class="ag-courses-item_date-box">
						
              Me desempeño bastante bien habilidades de diseño, podiendo hacer diferente diseños chidos <br> <br>
              
						<span class="ag-courses-item_date">
							04.11.2022
						</span>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div class="ag-courses-item_title" style="text-align: center;">
						Mis proyectos <br>y habilidades   
					</div>
          <div style="display: grid; justify-content: center;" class="ag-courses-item_date-box">
            <div style="display: grid; justify-content: center;" class="cube-loader">
              <div class="cube-top"></div>
              <div class="cube-wrapper">
                <span style="--i:0" class="cube-span"></span>
                <span style="--i:1" class="cube-span"></span>
                <span style="--i:2" class="cube-span"></span>
                <span style="--i:3" class="cube-span"></span>
              </div>
            </div>
            <style>
              .cube-loader {
  position: relative;
/* u can choose any size */
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
                                     /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(330, 3.13%, 25.1%) 0%,
    hsl(177.27, 21.71%, 32.06%) 5.5%,
    hsl(176.67, 34.1%, 36.88%) 12.1%,
    hsl(176.61, 42.28%, 40.7%) 19.6%,
    hsl(176.63, 48.32%, 43.88%) 27.9%,
    hsl(176.66, 53.07%, 46.58%) 36.6%,
    hsl(176.7, 56.94%, 48.91%) 45.6%,
    hsl(176.74, 62.39%, 50.91%) 54.6%,
    hsl(176.77, 69.86%, 52.62%) 63.4%,
    hsl(176.8, 76.78%, 54.08%) 71.7%,
    hsl(176.83, 83.02%, 55.29%) 79.4%,
    hsl(176.85, 88.44%, 56.28%) 86.2%,
    hsl(176.86, 92.9%, 57.04%) 91.9%,
    hsl(176.88, 96.24%, 57.59%) 96.3%,
    hsl(176.88, 98.34%, 57.93%) 99%,
    hsl(176.89, 99.07%, 58.04%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(330, 3.13%, 25.1%) 0%;
                      /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
/* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232,
              0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232,
              0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}

            </style>
					</div>

					
				</a>
			</div>

			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div class="ag-courses-item_title">
						Back-end development&#160;+ nodejs&#160;+ MVC
					</div>
          <div class="ag-courses-item_date-box">
            Como desarrollador backend, me especializo en el uso de Express y Node.js para crear aplicaciones web robustas y escalables. <br> <br>
						<span class="ag-courses-item_date">
							31.10.2022
						</span>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg">
					</div>
					<div style="margin: 0; padding: 0;" class="ag-courses-item_title">
						Digital Marketing
					</div>
          <div class="ag-courses-item_date-box">
            Poseo habilidades destacadas en el campo del marketing digital. Tengo experiencia y conocimientos sólidos en las estrategias y tácticas utilizadas en el entorno digital. <br> <br>
						<span class="ag-courses-item_date">
							31.10.2022
						</span>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a href="#" style="text-decoration: none;" class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>

					<div class="ag-courses-item_title">
						Interior Design
					</div>

					<div class="ag-courses-item_date-box">
						Start:
						<span class="ag-courses-item_date">
							31.10.2022
						</span>
					</div>
				</a>
			</div>

		</div>
	</div>
</body>

</html>